body {
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: rgb(169, 169, 169);
    color: rgb(34, 50, 34);
}    

.header {
    font-size: 5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 12px;
}

.content {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 1em 5em;
    margin-bottom: 1em;
    font-weight: 700;
    gap: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid black;
    height: 3em;
    width: 10em;
}

.square {
    max-width: 800px;
    max-height: 800px;
    width: 450px;
    height: 450px;
    min-width: 300px;
    min-height: 300px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    display: grid;
}

.grid-item {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
}

.footer {
    display: flex;
    justify-content: center;
    color: rgb(26, 52, 0);
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

    