body {
  height: auto;
  height: 100vh;
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: stretch;
  background-color: rgb(120, 159, 199);
  color: rgb(4, 27, 37);
}

.header {
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(0, 0, 146);
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5em 1rem;
  gap: 1rem;
}
.buttons {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.colorChoose {
  display: flex;
  gap: 1rem;
  align-items: center;
}
input[type="color"] {
  background-color: transparent;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  height: 3rem;
  width: 3rem;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 100px;
  border: 1px solid rgb(52, 52, 52);
}

.btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 38, 121);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid rgb(0, 4, 120);
  height: 3em;
  width: 10em;
}

.rainbowBtn {
  color: rgb(121, 0, 214);
  border: 2px inset rgb(128, 0, 197);
}
.squareContainer {
  display: flex;
  flex: 1;
}
.square {
  width: 70%;
  aspect-ratio: 1/1;
  height: min-content;
  background-color: rgb(243, 248, 255);
  border-radius: 15px;
  border: 10px outset rgb(0, 19, 146);
  display: grid;
  overflow: hidden;
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  color: rgb(0, 21, 255);
  font-weight: bold;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.228);
}

a {
  color: rgb(3, 194, 252);
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  color: rgb(103, 0, 212);
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .buttons {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .btn {
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    height: 3em;
    width: 10rem;
  }
  .colorChoose {
    flex-direction: column;
  }
  .squareContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .square {
    width: 80%;
  }
}
